<loader [status]="loaderStatus">
    <div class="d-flex justify-content-center mb-4">
        <h2 *ngIf="entity?.title">Comicbook: {{entity.title}}</h2>
    </div>

    <form [formGroup]="form" class="d-flex flex-wrap">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-5 offset-lg-0 mb-5">
            <div class="entity-page-image mb-2" [background-image]="frontPageImage"></div>
            <file-input [class.invisible]="form.controls.frontPageImage.disabled" formControlName="frontPageImage"
                buttonText="Choose image" acceptTypes="image/*"></file-input>
        </div>

        <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-0 mb-5">
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input formControlName="title" type="text" class="form-control" id="titleInput">
            </div>

            <div class="form-group">
                <label for="numberInput">Number</label>
                <input formControlName="number" type="text" class="form-control" id="numberInput">
            </div>

            <div class="form-group">
                <label>Publisher</label>

                <ng-template #publisherDropdownTemplate>
                    <dropdown-select formControlName="publisher"
                        [items]="publishers" displayPath="name" searchEnabled=true [trackBy]="defaultTrackBy">
                    </dropdown-select>
                </ng-template>
                <ng-container [ngTemplateOutlet]="enrichTemplateWithPopoverTemplate"
                    [ngTemplateOutletContext]="{template: publisherDropdownTemplate, items: [entity?.publisher], routerLinkGeneratorFn: generatePublisherRouterLink}">
                </ng-container>
            </div>

            <div class="form-group">
                <label>Heroes</label>

                <ng-template #heroesDropdownTemplate>
                    <dropdown-select formControlName="heroes"
                        [items]="heroes" displayPath="name" searchEnabled=true multiselection=true
                        [trackBy]="defaultTrackBy">
                    </dropdown-select>
                </ng-template>
                <ng-container [ngTemplateOutlet]="enrichTemplateWithPopoverTemplate"
                    [ngTemplateOutletContext]="{template: heroesDropdownTemplate, items: entity?.heroes, routerLinkGeneratorFn: generateHeroRouterLink}">
                </ng-container>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-center">
        <ng-container *ngIf="!editMode; else editModeButtons">
            <button (click)="edit()" class="btn btn-primary text-nowrap mr-4">Edit</button>
            <button (click)="delete()" class="btn btn-danger text-nowrap">Delete</button>
        </ng-container>
        <ng-template #editModeButtons>
            <button (click)="save()" [disabled]="saveClicked && form.invalid"
                class="btn btn-primary text-nowrap mr-4">Save</button>
            <button (click)="cancel()" class="btn btn-secondary text-nowrap">Cancel</button>
        </ng-template>
    </div>
</loader>

<ng-template #enrichTemplateWithPopoverTemplate let-template="template" let-items="items" let-routerLinkGeneratorFn="routerLinkGeneratorFn">
    <div class="position-relative" [class.increase-dropdown-select-border-on-hover]="!editMode">
        <ng-container *ngTemplateOutlet="template"></ng-container>
        <button *ngIf="!editMode" [ngbPopover]="popoverTemplate" class="button-dropdown-overlay position-absolute w-100 h-100 bg-transparent border-0"></button>
    </div>

    <ng-template #popoverTemplate>
        <div class="d-flex flex-wrap justify-content-center">
            <a *ngFor="let item of items" [routerLink]="routerLinkGeneratorFn | execute : item" class="link-item p-1">
                {{item.name}}
            </a>
        </div>
    </ng-template>
</ng-template>