@import 'variables';

:host {
    display: flex;
    
    .front-page-image {
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid $comicbook-image-border-color;
        border-radius: 5px;
    }
}