:host {
    position: relative;
    display: block;

    .spinner-position {
        left: 50%;
        top: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }

    .position-absolute {
        z-index: 100;
    }

    .gray-overlay {
        background-color: rgba(128,128,128,0.7);
    }
}