$navigation-bg-color: #B23850;
$navigation-link-color: #8590AA;
$navigation-active-link-color: white; //#3B8BEB;

$app-background-color: #E7E3D4;

$comicbook-image-border-color: #8590AA; 

$invalid-control-border-color: #B23850;