<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img [src]="logo" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="routerLinksEnum.Comicbooks" routerLinkActive="active">Comicbooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="routerLinksEnum.Publishers" routerLinkActive="active">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="routerLinksEnum.Heroes" routerLinkActive="active">Heroes</a>
            </li>
        </ul>
    </div>
</nav>
