<div class="d-flex flex-wrap">
    <div *ngFor="let item of items" class="col-6 col-md-4 col-lg-3 search-page-item">
        <ng-container *ngTemplateOutlet="itemTemplate ? itemTemplate.templateRef : defaultTemplate"></ng-container>

        <ng-template #defaultTemplate>
            <div class="default-item-template d-flex flex-column align-items-center h-100 w-100 p-4" (click)="itemClicked.emit(item)">
                <div class="search-page-image flex-grow-1 w-100" [background-image]="getObjectAtPath | execute : item : itemPicturePath"></div>
                <div class="item-default-name flex-grow-0 w-100 mt-1 text-center">{{ getObjectAtPath | execute : item : itemNamePath }}</div>
            </div>
        </ng-template>
    </div>

</div>