<!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
    <div class="input-group-append" (click)="searchComicbooks()">
        <i class="input-group-text btn material-icons">search</i>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comicbook of comicbooks" [routerLink]="'/' + routerLinksEnum.COMICBOOK + '/' + comicbook.id"
            class="cursor-pointer">
            <td>{{comicbook.name}}</td>
            <td>{{comicbook.id}}</td>
        </tr>
    </tbody>
</table> -->

<search-page
    [searchEnabled]="true"
    [items]="comicbooks"
    [rowClickedFn]="openComicbook"
    [itemTrackBy]="comicbookTrackBy"
    [columns]="comicbookColumns"
    [showLoader]="searchPageLoaderStatus.isLoaderVisible"
    (onSearch)="searchComicbooks($event)">
</search-page>