<loader [status]="loaderStatus">
    <div *ngIf="!staticMode" class="d-flex justify-content-end">
        <div class="input-group mb-3 flex-grow-1">
            <ng-container>
                <input type="text" class="form-control" [(ngModel)]="searchText" [placeholder]="'Search'"
                    (keyup.enter)="searchByText()">
                <div class="input-group-append" (click)="searchByText()">
                    <button class="input-group-text btn">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </ng-container>
        </div>
        <div *ngIf="addNewEntityButtonInfo" class="ml-3">
            <button (click)="addNewEntityButtonInfo.execute()"
                class="btn btn-primary text-nowrap">{{addNewEntityButtonInfo.text}}</button>
        </div>
    </div>
    <search-page [items]="entities"
                 [itemPicturePath]="'frontPageImage.url'"
                 [itemNamePath]="'title'"
                 [itemTrackBy]="entityTrackBy"
                 (itemClicked)="navigateToEntity($event)">
    </search-page>
    <ngb-pagination *ngIf="!staticMode" class="d-flex justify-content-center" [page]="searchParameters.page"
            [pageSize]="searchParameters.pageSize" [collectionSize]="searchParameters.collectionSize"
            (pageChange)="changePage($event)"></ngb-pagination>
</loader>
