<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let column of columns; trackBy: columnTrackBy" scope="col">
                <ng-container
                    *ngTemplateOutlet="!column.headerTemplate ? defaultHeaderTemplate : column.headerTemplate; context: {$implicit: column}">
                </ng-container>
                <ng-template #defaultHeaderTemplate>
                    {{column.headerText}}
                </ng-template>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; trackBy: itemTrackBy" (click)="onRowClicked(item)"
            [class.cursor-pointer]="rowClickedFn">
            <td *ngFor="let column of columns; trackBy: columnTrackBy" class="align-middle"
                (click)="onCellClicked($event, item, column)" [class.cursor-pointer]="column.onContentCellClicked">
                <ng-container
                    *ngTemplateOutlet="!column.contentTemplate ? defaultContentTemplate : column.contentTemplate; context: {$implicit: item}">
                </ng-container>
                <ng-template #defaultContentTemplate>
                    {{
                    column.contentDisplayFn ? 
                    (column.contentDisplayFn | execute : item) 
                    : column.contentDisplayPath ? 
                        (getPropertyOnPath | execute : item : column.contentDisplayPath) 
                        : item[column.id]
                }}
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>